.toggle-button-box{
    position: absolute;
    top: 40px; 
    left: 42%;
    z-index: 10;
}
.all-cards-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
}

.swiper{
    padding: 0;
    margin: 0;
}

.swiper-slide {
    width: 100%; 
    max-width: 300px; 
    transition: transform 0.3s ease; 
}

.swiper-slide.active-slide {
    transform: scale(1.05); 
}

.card-list {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

@media (max-width: 500px) {
    .toggle-button-box{
        position: absolute; 
        top: 40px; 
        left: 32%;
        z-index: 10;
    }
    .all-cards-container {
        margin: 7px;
    }
}

